<!--=target="content-->
<%= turbo_stream.update "content" do %>
  <h1 style="color: red">this is steam 3</h1>
<% end %>

<%#= turbo_stream.update "content" do %>
<!--  <h1 style="color: red">this is steam 3</h1>-->
<%# end %>