<h1>Editing product order</h1>

<%= render "form", admin_product_order: @admin_product_order %>

<br>

<div>
  <%= link_to "Show this product order", @admin_product_order %> |
  <%= link_to "Back to product orders", admin_product_orders_path %>
</div>
